
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');

*
{
    font-family: 'Rubik', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    transition: .2s linear;
    text-transform: capitalize;
    color: var(--white);
}

:root{

    --darkblue : #112D4E;
    --dullwhite : #F4F2DE;
    --blue : #3F72AF;
    --light-blue : #DBE2EF;
    --white : #ffffff;
    --orange : #F3AA60;
    --grey: #c4c3c3
}


*::selection
{
    background-color: var(--white);
    color:var(--black);
}

::placeholder {
    color: var(--light-blue);
    opacity: 1;
  }

html
{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 8rem;
}

::-webkit-scrollbar
{
    height: .5rem;
    width: 1rem;
}

::-webkit-scrollbar-track
{
    background-color: transparent;
}

::-webkit-scrollbar-thumb
{
    background-color: var(--orange);
    border-radius: 5rem;
}

body
{
    background-color: var(--darkblue);
}

section
{
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

.btn
{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background-color: var(--blue);
    cursor: pointer;
    color: var(--white);
    font-size: 1.8rem;
    padding: 1rem 3rem;
}

.btn:hover
{
    background-color: var(--light-blue);
    color: var(--orange);
}

.header
{
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    background-color:var(--blue);
    /* opacity: 0.75; */

}

.header .flex
{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .flex .logo
{
    font-size: 2.5rem;
    color: var(--white);
}

.header .flex .navbar a
{
    margin-left: 2rem;
    font-size: 2rem;
    color: var(--light-blue);
}

.header .flex .navbar a:hover
{
    color: var(--orange);
}


#menu-btn
{
    cursor: pointer;
    color: var(--white);
    font-size: 2.5rem;
    display: none;
}

.heading
{
    margin-bottom: 2.5rem;
    margin-left: 2rem;
    text-align: left;
    font-size: 4rem;
    color: var(--white);
}

.heading span
{
    color: var(--green);
}

.home
{
    margin-top: 6rem;
}

.home .row
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.home .row .content
{
    flex: 1 1 40rem;
    text-align: center;
}

.home .row .image
{
    flex: 1 1 40rem;
}

.home .row .image img
{
    width: 100%;
}

.home .row .content h3
{
    margin-bottom: 1rem;
    margin-left: -22rem;
    font-size: 9rem;
    color: var(--white);
    line-height: 1;
}

.home .row .content h3 span
{
    color: var(--green);
}

.search .bar1
{
    border-radius: .5rem;
    
}

.search .bar1 .text
{
    margin: 2rem;
    padding-top: 2rem;
    
}

.search .bar1 .text p
{
    font-size: 2rem;
    padding: 3rem;
    
}

.search .bar1 .text h1
{
    font-size: 2.5rem;
    padding: 0 0 0 3rem;
}

.search .bar1 .bar2 .box
{
    width: 15%;
    height: 5rem;
    border-radius: .5rem;
    background-color: var(--light-bg);
    font-size: 1.8rem;
    color: var(--white);
    padding: 0 0 0 3rem;
    margin-left: 5rem;
    margin-bottom: 5rem;
    background-color: var(--blue);
}

.search .bar1 .bar2 .site
{
    width: 55%;
    height: 5rem;
    border-radius: .5rem;
    background-color: var(--blue);
    font-size: 1.8rem;
    color: var(--white);
    padding: 0 0 0 3rem;
    margin-left: 5rem;
    margin-bottom: 5rem;
}

.courses
{
    background-color: var(--light-bg);
    border: 1px solid rgb(3, 3, 76);
    border-radius: .5rem;
    margin-bottom: 4rem;
    display: flex;
    flex-wrap: wrap;
}

.courses .courses-slider
{
    display: flex;
    flex: left;
    gap: 1.5rem;
}

.courses .courses-slider2
{
    display: flex;
    flex: left;
    gap: 1.5rem;
}


.courses .slide
{
    background-color: var(--light-bg);
    border-radius: .5rem;
    text-align: center;
    padding: 2rem;
    margin-bottom: 4rem;
    width: 37rem;
}

.courses .slide img
{
    height: 25rem;
    width: 100%;
}

.courses .slide h3
{
    margin: 1.5rem 0;
    font-size: 2rem;
    color: var(--white);
    text-align: left;
}

.courses .slide p
{
    line-height: 2;
    font-size: 1.6rem;
    color: var(--light-while);
    text-align: left;
}

.courses .slide hr
{
    border: 1px solid grey;
}

.courses .slide h1
{
    line-height: 2;
    font-size: 2.6rem;
    color: var(--light-while);
    text-align: left;
}

.courses .slide del
{
    line-height: 2;
    font-size: 1.5rem;
    color: var(--light-while);
    text-decoration: line-through;
    padding-left: .5rem;
}

.courses .bioslide
{
    background-color: var(--light-bg);
    border-radius: .5rem;
    text-align: center;
    padding: 2rem;
    margin-bottom: 4rem;
    width: 37rem;
}

.courses .bioslide img
{
    height: 25rem;
    width: 100%;
}

.courses .bioslide h3
{
    margin: 1.5rem 0;
    font-size: 2rem;
    color: var(--white);
    text-align: left;
}

.courses .bioslide p
{
    line-height: 2;
    font-size: 1.6rem;
    color: var(--light-while);
    text-align: left;
}

.courses .bioslide hr
{
    border: 1px solid grey;
}

.courses .bioslide h1
{
    line-height: 2;
    font-size: 2.6rem;
    color: var(--light-while);
    text-align: left;
}

.courses .bioslide del
{
    line-height: 2;
    font-size: 1.5rem;
    color: var(--light-while);
    text-decoration: line-through;
    padding-left: .5rem;
}

.courses .box button
{
    display: inline-block;
    background-color: var(--blue);
    cursor: pointer;
    color: var(--white);
    font-size: 1.8rem;
    border-radius: 3rem;
    padding: 1rem 3rem;
}

.courses .box button:hover
{
    background-color: var(--white);
    color: var(--orange);
}

.courses .box .courses-slider
{
    display: flex;
    flex-wrap: wrap;
}

.courses .box .courses-slider2
{
    display: flex;
    flex-wrap: wrap;
}

.courses .box
{
    display: flex;
    flex-wrap: wrap;
}
.swiper-pagination-bullet
{
    background-color: var(--white);
}
.swiper-pagination-bullet-active
{
    background-color: var(--orange);
}

.teachers .slide
{
    position: relative;
    overflow: hidden;
    margin-bottom: 4rem;
}

.teachers .slide img
{
    height: 55rem;
    width: 100%;
    object-fit: cover;
    border-radius: .5rem;
}

.teachers .slide h3
{
    margin-top: 1.5rem;
    font-size: 2rem;
    text-align: center;
    color: var(--white);
    text-decoration: none;
}

.teachers .slide a 
{
    margin-top: 1.5rem;
    font-size: 2rem;
    text-align: center;
    color: var(--white);
    text-decoration: none;
}

.teachers .slide .share
{
    position: absolute;
    top: 1rem; left: -10rem;
}

.teachers .slide:hover .share
{
    left: 2rem;
}
.teachers .slide .share a
{
    display: block;
    margin-top: 1rem;
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: .5rem;
    background-color: var(--white);
    color: var(--black); 
    text-align: center;
    font-size: 2rem;
}

.teachers .slide .share a:hover
{
    background-color: var(--green);
    color: var(--white);
}

.teachers #heading
{
    text-align: center;
}

@media(max-width:991px)
{
    html
    {
        font-size: 55%;
    }
}

@media(max-width:768px)
{
    #menu-btn
    {
        display: inline-block;
    }
    #menu-btn.fa-times
    {
        transform: rotate(180deg);
    }
    .header .flex .navbar
    {
        position: absolute;
        top: 99%; left: 0; right: 0;
        border-top: .1rem solid var(--light-while);
        border-bottom: .1rem solid var(--light-while);
        background-color: var(--light-bg);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    .header .flex .navbar.active
    {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    .header .flex .navbar a
    {
        display: block;
        margin: 2rem;
    }
}

.hover{
    box-shadow: 1px 1px 14px 4px rgba(0,0,0,0.69);
    -webkit-box-shadow: 1px 1px 14px 4px rgba(0,0,0,0.69);
    -moz-box-shadow: 1px 1px 14px 4px rgba(0,0,0,0.69);
}

@media(max-width:450px)
{
    html
    {
        font-size:50%;
    }
    .home .row .content h3
    {
        font-size: 5rem;
    }
}